<div class="show-title">
  <strong><p>本のタイトル:</p></strong><p><%= @book.title %></p>
</div>
<div class="show-body">
  <strong><p>感想:</p></strong><p><%= @book.body %></p>
</div>

<div class="edit-back">
  <%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "Back", books_path %>
</div>
